@charset "utf-8";

html{-webkit-text-size-adjust: none;}

*html body{ _background-image:url(about:blank); background-attachment:fixed; }

body, legend { color: #444; }

body, button, input, select, textarea { font:14px/1.75 "Helvetica Neue", Helvetica, arial, "Hiragino Sans GB", "Microsoft Yahei", "\5b8b\4f53", sans-serif;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

textarea { outline: none;border:0;resize:none;}

input { outline: none;resize:none;}

li { list-style: none outside none; }

h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6,strong{ font-size: 100%; font-weight: normal; }

.pt0{padding-top:0!important;}

em { font-style:normal }

s { text-decoration:none;}

.fn { float:none!important;}

.l { float:left!important;}

.r { float:right!important;}

.both { clear:both!important;}

.nobor{ border:none!important;}

.hand { cursor:pointer!important;}

.hand-t { cursor:text!important;} 

.rel { position:relative!important;}

.asl { position:absolute!important;}

.mt0{ margin-top:0}

.mt10{ margin-top:10px;}

.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.pl15{ padding-left: 15px;}
.clear { clear: both; margin:0; padding:0; overflow:hidden; height:0; line-height:0; font-size:0;border:0;float:none!important; 
zoom:1;}

.block {display:block!important;}

.none {display:none!important;}

.p0{padding:0!important;}

.m0{margin:0!important;}

.b0{border:0!important;}

.of { overflow:hidden!important;}

.t-box {margin: 0 auto;position:relative;width:1200px;padding-top:15px;z-index:1;}

.rbox {float:right;width:970px;*overflow:hidden}
.lbox{float:left; width:210px;}
.cbox,.radio,.sle-but s,.is-sel s,.is-sel:hover s,.indexes,.car-tbl dt span,.Ext .close-but s,.Ext dd.o2 span s,s.add,s.sel,s.msg,s.gift,s.fin,.errorch i,.suc i,.h-light,.sel-i,.flag-i,.reml-arrow-i,.og-step,.re-close s,.cm-up a,.cm-down a,.cm-del a,.cm-show a,.hook,.hm-step li s,.Consumer,.Certificate,.add-to,.del-but a,.R-x, .jbox_suc, .jbox_error,.is-inbut i,.city-Tips em,s.Close a,.c-tips-row,.daima-step s
{ background: url("../images/web-icon.png") no-repeat scroll 0 0 transparent;}

.tips {margin: 0pt auto; width: 335px; padding: 100px 0pt;}

.tips .btn{padding-top:20px;}

dl.tips dd{float:left}

dl.tips dd .is-r-but{ position:relative; top:-10px}

.h-light { background-position:0 -188px;width:16px;height:16px;display:block;}

/*.sel-loading {background: url("images/loading-16.gif") no-repeat scroll 0 0 transparent;width:16px;height:16px; margin:15px auto;}*/

.Must { color: #DD4B39;font-weight: bold; position: relative;top: 2px; line-height:26px;}

a {color:#444;text-decoration:none; outline:none}

.car-list a {color:#1155CC;}
.car-list a:hover {text-decoration:underline;}

/*通用文字颜色、大小、背景色样式*/
.cff { color:#fff!important;}

.c22 { color:#222!important;}

.c44 { color:#444!important;}

.c77 { color:#777!important;}

.caa { color:#aaa!important;}

.ccc { color:#ccc!important;}

.cdd { color:#ddd!important;}

.cee { color:#eee!important;}

.cf8 { color:#8FA4CA!important;}

.cf7 { color:#009900!important;}

.cf3 { color:#4B5C7C!important;}

.cf4,.cf4l a { color:#DD4B39!important;}

.cf6,.cf6l a { color:#ff6600!important;}

.cf5,.cf5l a { color:#1155CC!important; cursor:pointer;}

.cf5l a:hover,.cf6l a:hover,.cf4l a:hover,.c44l a:hover { text-decoration:underline!important;}

.bff { background-color:#fff!important;}

.bf1 { background-color:#f1f1f1!important;}

.bf5 { background-color:#f5f5f5!important;}

.bf8 { background-color:#f8f8f8!important;}

.bfe { background-color:#FEF0C8!important;}

.f10 { font: 10px Arial,simsun;}

.f12 { font: 12px Arial,simsun;}

.f12b { font: 12px 'Microsoft Yahei',Arial,simsun;}

.f14 { font: 14px Arial,simsun;}

.f14b { font: 14px 'Microsoft Yahei',Arial,simsun;}

.f16 { font: 16px Arial,simsun;}

.f16b { font: 16px 'Microsoft Yahei',Arial,simsun;}

.f18 { font: 18px Arial,simsun;}

.f18b { font: 18px 'Microsoft Yahei',Arial,simsun;_font-family:simsun;}

.f26 { font: 26px Arial,simsun,tahoma;}

.f20 { font: 20px Arial,simsun,tahoma;}

.lh16 { line-height:16px!important;}

.lh18 { line-height:18px!important;}

.lh20 { line-height:20px!important;}

.lh21 { line-height:21px!important;}

.lh28 { line-height:28px!important;}

.lh30 { line-height:30px!important;}

.b { font-weight:bold!important;}

.ta-m {text-align: center!important;}

.ta-r {text-align: right!important;}

.ta-l {text-align: left!important;}

.cut{ background-color:#1155CC; border: 0 none; float: left; height: 10px;margin:6px 5px 0; display:inline; overflow: hidden; width: 1px;}

.mr10{margin-right:10px}


/*通用width样式*/

.wauto { width:auto!important;}
.w50p { width:50%!important;}
.w100p { width:100%!important;}
.w20 { width:20px!important;}
.w25 { width:25px!important;}
.w30 { width:30px!important;}
.w36 { width:36px!important;}
.w40 { width:40px!important;}
.w50 { width:50px!important;}
.w60 { width:60px!important;}
.w70 { width:70px!important;}
.w80 { width:80px!important;}
.w90 { width:90px!important;}
.w96 { width:103px!important;}
.w100 { width:100px!important;}
.w110 { width:110px!important;}
.w120 { width:120px!important;}
.w130 { width:130px!important;}
.w140 { width:140px!important;}
.w150 { width:150px!important;}
.w160 { width:160px!important;}
.w165 { width:165px!important;}
.w180 { width:180px!important;}
.w200 { width:200px!important;}
.w250 { width:250px!important;}
.w240 { width:240px!important;}
.w280 { width:280px!important;}
.w300 { width:300px!important;}
.w380 { width:380px!important;}
.w460{ width:460px!important;}
.w600 { width:600px!important;}
.w500{ width:500px!important;}
.w400{ width:400px!important;}


/*消保-认证-icon*/

.Consumer { background-position:-53px -325px;width:15px;height:16px;margin:5px 3px 0 0; float:left;}

.Certificate { background-position:-70px -325px; width:15px;height:16px;display: inline-block; position:relative;top:3px;margin:0 2px;}

/*边框样式*/
ul.tbg,li.tlbg,li.trbg,ul.bbg,li.blbg,li.brbg,ul.gtbg,li.gtlbg,li.gtrbg
{background:url("../images/item_angle.png") repeat scroll 0 0 transparent;width:6px;height:6px;overflow:hidden;}

ul.tbg{background-position: 0 -7px;width: 100%;}

li.tlbg{background-position: 0 0;float:left;}

li.trbg{background-position: right 0;float:right;}

ul.gtbg{background-position: 0 -14px;width: 100%;}

li.gtlbg{background-position: -7px 0;float:left;}

li.gtrbg{background-position: -14px 0;float:right;}

ul.bbg{background-position: 0 -40px;height:18px;width: 100%;}

li.blbg{width:125px;height:18px;background-position: 0 -21px;float:left;}

li.brbg{width:125px;height:18px;background-position: right -21px;float:right;}

.con{background-color: #FFF;border-left: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3;}


/*纵向导航*/

.h-menu {  width: 175px;float:left;}

.hm-box { font-size:14px;}

.hm-box a,.hm-box a:hover,.hm-box .on-sel a  { display: inline-block;height: 30px;padding:0 0 8px 5px;width:165px;background:url("../images/wh-menu.png") no-repeat scroll right 0 transparent;}

.hm-box a:hover { background-position:0 -38px;}

.hm-box .on-sel a { font-weight:bold;background-position:0 -76px;}

.hm-box span { display: block;height: 16px;line-height: 16px; margin:8px 0 0 10px;overflow: hidden;padding-left: 10px; cursor:pointer;}

.hm-box .on-sel a { color:#4B5C7C;}

.hm-step { margin:20px 0 0 18px; }

.hm-step li a { display:block; position:relative;}

.hm-step li s ,.daima-step s{ width:16px;height:16px; background-position:right -300px; float:left;margin:0 6px 0 7px; text-align:center; color:#fff;font:700 11px/16px arial;}

.daima-step s{margin:3px 3px 0 0 ;}

.hm-step li.on-step s  {background-position:0 -300px}

.hm-step li span a,.hm-step li.on-step span a  { font:12px/16px Arial,simsun; height:16px;}

.hm-step li span{display:block}

.hm-step li.on-step span a { color:#DD4B39;font-weight:bold;}

.hm-step li.on-step a:hover { text-decoration:underline;}

.hm-step li .step-Ext { border-left: 1px dotted #777;height: 9px; line-height: 31px; margin: 3px 14px; overflow: hidden; padding-left: 25px;position:relative; z-index:1;zoom:1;}

.hm-step li.on-step .step-Ext { height:auto; overflow:visible; zoom:1;}

.hm-step li .step-Ext i
{ width:5px; height:5px; overflow:hidden; background-color:#fff; border:1px solid #777; border-radius:5px; position:absolute; left:-29px;_left:-28px;top:13px;*top:4px;_width:3px; _height:3px;}/*ff,ie6,ie8 hack*/

.hm-step li .step-Ext a:hover { text-decoration:underline;color:#DD4B39;}

.hm-step li .step-Ext a:hover i,.cf4 i { border-color:#dd4b39!important;width:5px;height:5px;z-index:2;}

.hm-Tail { background-color: #FFF; height: 15px; left: -29px; overflow: hidden;position: absolute; top: 20px;_top: 10px;*top: 11px; width: 5px;}




/*tab-chanel */
.tab-bg { border-bottom:1px solid #ccc; margin-bottom:10px}

.tab-bg a { position:relative;display:block;width:160px;height:35px;float:left; text-align:center;font:12px/35px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial;bottom: -1px;color:#777;}

.tab-bg a:hover { color:#444;}

.tab-bg a.ontab { width:158px;line-height:33px; border-color: #ccc #ccc #fff;border-style: solid; border-width: 1px;color:#444;border-radius:2px;}

/*input select样式*/

.is-bor,.is-inbor,.is-nobor { background-color: #FFFFFF;border-color: #C0C0C0 #D9D9D9 #D9D9D9;border-right: 1px solid #D9D9D9;
border-style: solid;border-width: 1px;cursor: text;height: 18px;padding: 4px;display:block;}

.is-nobor { background-color:#f8f8f8;}

.is-inbor {height:14px; position:relative;}

.is-bor:hover,.is-bor.hover,.is-inbor.hover { border-color: #A0A0A0 #B9B9B9 #B9B9B9; border-right: 1px solid #B9B9B9; border-style: solid;border-width: 1px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;}/*onMouse hover*/

.is-bor.active,.is-inbor.active { border: 1px solid #4D90FE;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;}/*onMouse active*/

.sel-bor,.sel-bor input,.selContent .is-bor,.selContent .is-bor input{ cursor:pointer;} 

.img-bor { height:66px;width:175px; overflow:hidden;text-align: center;line-height:66px;}

.img-bor img{ vertical-align:middle; max-width:175px; max-height:66px;}

.text-bor { height:auto;}

.text-bor textarea { width:100%;height:200px;}

.is-inp { display: inline; float: left;width: 100%;}

.is-inp .textbox,.is-bor .textbox,.is-inbor .is-inp .textbox { float:left;width:100%;border:0 none; padding:0; height:18px; height:17px\9; font:normal 12px/16px arial; _line-height:17px; background-color:transparent; color:#444; }

#zzccar_parent,#zzccar_parent input {cursor:pointer;}

.is-inbor .is-inp .textbox { height:14px; height:12px\9; font:normal 12px/14px arial;}

.is-inp .sle-but { float:right;padding:7px 3px 7px 7px;;border-left:1px solid #EAEAEA;width:8px;height:5px;}

.selContent { position:relative; margin-right:10px; }

.del-but { position: absolute; right: 28px;top: 7px;}

.del-but a { width:14px; height:14px; background-position:0 -485px; display:block;cursor:pointer;}

.del-but a:hover { background-position:-15px -485px;}

.inbutContent { position:relative; margin-right:12px;}

.is-sel,.is-but a,.is-inbut a{ border: 1px solid #dcdcdc;
	color:#777;
	background-color:#f5f5f5;
	background-image:-webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image:-moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	display:block;
	margin:0;
	height:26px;
	line-height:26px;
	
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	border-radius:2px;
	cursor:pointer;
	}
.is-but a,.is-inbut a{padding:0 8px}	
.is-sel:hover,.is-but a:hover,.is-inbut a:hover {border-color:#c6c6c6;
	color:#222;
	background-color:#f8f8f8;
	background-image:-webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image:-moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	text-decoration:none;}

.is-inbut .on-click,.is-inbut a:hover.on-click {
	border-color:#F0C36D;
	color:#222;
	cursor:pointer;	
    background-color:#FEF0C8;
	background-image:-moz-linear-gradient(top, #FEF0C8, #fae7b1);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	z-index:2;
	padding-right:7px;
	margin-right:-1px;
}

.is-inbut a{ float:left;margin:0 -2px 4px 0;z-index:1; position:relative;}

.is-bor .is-inbut a { height: auto;padding: 5px 6px; overflow:hidden;}

.is-bor .is-inbut a:active { margin-right:-2px;}

.is-inbut a:hover{ z-index:3;}

.is-inbut i,.is-bor:hover i.ar-lh { width:8px; height:8px; overflow:hidden; display:block; opacity:0.3;}	

.is-inbut i.ar-r { background-position:-6px -357px}

.is-inbut i.ar-l { background-position:-89px -352px}

.is-bor:hover i { opacity:1;}

.is-inbut a:hover{ z-index:3;}	

.is-b-but a
{ border: 1px solid #3C4C6A;
	color:#f5f5f5;
	background-color:#596B8C;
	background-image:-webkit-linear-gradient(top, #596B8C, #455675);
	background-image:-moz-linear-gradient(top, #596B8C, #455675);
	display:block;
	padding:0 8px;
	margin:0;
	height:26px;
	line-height:26px;
	
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	border-radius:2px;
	cursor:pointer;
	
	}

.is-b-but a:hover
{border-color:#384662;
	color:#fff;
	background-color:#5f7295;
	background-image:-webkit-linear-gradient(top, #5f7295, #455675);
	background-image:-moz-linear-gradient(top, #5f7295, #455675);
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	text-decoration:none;}	

.is-r-but a{ border: 1px solid #bc4130;
	color:#f5f5f5;
	background-color:#DD4B39;
	background-image:-webkit-linear-gradient(top , #DD4B39, #D14836);
	background-image:-moz-linear-gradient(top , #DD4B39, #D14836);
	}

.is-r-but a:hover {border-color:#b0281a;
	color:#fff;
	background-color:#e14B39;
	background-image:-webkit-linear-gradient(top , #DD4B39, #C53727);
	background-image:-moz-linear-gradient(top , #DD4B39, #C53727);
	}	

.is-s-but a,.i-on-carlist .is-but a
{ border: 1px solid #3079ED;
	color:#f5f5f5;
	background-color:#4D90FE;
	background-image:-webkit-linear-gradient(top , #4D90FE, #4787ED);
	background-image:-moz-linear-gradient(top , #4D90FE, #4787ED);
	}

.is-s-but a:hover,.i-on-carlist .is-but a:hover
 {border-color:#357AE8;
	color:#fff;
	background-color:#357AE8;
	background-image:-webkit-linear-gradient(top , #4D90FE, #357AE8);
	background-image:-moz-linear-gradient(top , #4D90FE, #357AE8);
	}	

.is-e-but a{ border: 1px solid #d45d17;
	color:#f5f5f5;
	background-color:#f96b1c;
	background-image:-webkit-linear-gradient(top , #f96b1c, #ec681b);
	background-image:-moz-linear-gradient(top , #f96b1c, #ec681b);
	}

.is-e-but a:hover {border-color:#d95d17;
	color:#fff;
	background-color:#fb6b1c;
	background-image:-webkit-linear-gradient(top , #fb6b1c, #e1641b);
	background-image:-moz-linear-gradient(top , #fb6b1c, #e1641b);
	}	



s.add,s.sel { height:8px; width:8px; overflow:hidden; float:right; background-position:0 -177px;margin:9px 10px 0 -10px;}

s.sel { background-position:-9px -177px;}
	
.is-sel {cursor:pointer; display:block;}	

.submit-but { width:270px;}

.is-but a,.is-b-but a { text-align:center;}

.sle-but s,.is-sel s,.is-sel:hover s,.is-bor:hover s { background-position:0 -426px;display: block; float: right; height: 4px;width:8px;overflow:hidden;}

.is-bor:hover s{ background-position:0 -445px;}/*onMouse hover*/

.is-sel s { margin:12px 0 0 5px; background-position:0 -445px;}

.is-sel:hover s { background-position:0 -464px;}


.is-sel em { display:block;line-height:26px;white-space:nowrap; overflow:hidden;_float:left}

.is-sel em.Percen { padding:0 9px 0 0; float:right;line-height:30px; font-size:11px; font-weight:normal;color:#DD4B39;}

.is-b-but em { font-weight:bold; text-shadow:0 1px rgba(0, 0, 0, 0.1); float:none; font-family:'u5b8bu4f53',sans-serif,Arial; font-weight:bold;overflow:hidden;}

.is-sel .sel-box { background-color:#fff;border: 1px solid #BBB;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); position:absolute;left:0;top:27px;display:none;z-index:2}
	
.is-sel .sel-box a { display:block;padding-left:9px;line-height:30px;height:30px; overflow:hidden; color:#1155CC;z-index:9999;}

.is-sel .sel-box a:hover { background-color:#f1f1f1;}

.is-sel .text-box { height: 27px;padding:0 8px;}

.is-sel .cut {margin: 9px 3px 0; background-color:#777;}

/*sel多选框 */

.sel-tit {background-color: #F1F1F1;border-bottom: 1px solid #E5E5E5; display: block; overflow: hidden;}

.is-sel .sel-cbox { display:none; background-color: #FFFFFF;border: 1px solid #BBB;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);padding-bottom: 5px; position: absolute;left: 0px;top: 27px; line-height:18px;z-index: 1;}

.checkbox_win a {float: left; width:122px;margin: 0; color: #1155CC; display: block; overflow:hidden;}

.checkbox_win a:hover {background-color: #F1F1F1; text-decoration: none;}

.sel-cbox .cbox-on {padding: 6px 3px;float: left;}

.sel-cbox .cbox-hidden {color: #AAA;}

.sel-cbox .cbox-on .cbox {margin-right: 30px;}


/*sel组合下拉导航 */
.gm-box { background-color: #FFF; border: 1px solid #BBB; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);position: absolute;left:0px; top: 27px; width: 550px;z-index: 2;padding:8px; display:none; cursor:default; line-height:32px;}

.gm-box img { display:block; margin:0 auto;padding:8px 0;}

.gm-box a { color:#1155CC;}

.gm-box a:hover {text-decoration:underline;}

.gm-box a:hover.Has,.Has {cursor: default;color:#c6bca0!important;text-decoration: none;}

.gm-box .is-l-but a {height: 20px;line-height: 20px;padding: 0 5px; color:#777; margin:0;}

.gm-box .is-l-but a:hover { text-decoration:none; color:#222;}

.gm-box .tab-bg {border-bottom: 1px solid #bbb;}

.gm-box .tab-bg a { font:700 10px/26px arial; height:26px;width:80px;} 

.gm-box .tab-bg a.ontab {border-color:#bbb #bbb #fff; line-height:24px;width:78px;}

.zzc-selector-hot { font-size:12px!important;}

.gm-box .on-list-b em { line-height:30px;}

.gm-box .on-list-b em,.gm-box .on-list-c em{ height:32px; margin:0 0 -1px -8px; font-weight:bold;right:1px;z-index: 1; border-style:solid; border-color:#e5e5e5 #e5e5e5 #f1f1f1; border-width:1px;color:#DD4B39; background-color:#f1f1f1;padding:0 8px;display:inline-block; position:relative;}

.gm-box a:hover.on-list-b,.gm-box a:hover.on-list-c { color:#DD4B39;}

.gm-box .on-list-c em{ border:none; background-color:#FEF0C8;margin-bottom:0; }

.gp-Recently {border-bottom: 1px dotted #d5d5d5;line-height: 26px; margin-bottom: 10px;padding-bottom: 5px; color:#DD4B39;}

.gp-Recently a { margin-right:10px;}

.gp-Models { padding:5px 0; border-top:1px solid #e5e5e5;}

.gp-Models a { display:block;float:left; padding-left:8px;width:98px; white-space:nowrap;}

.gp-Models-b,.gp-City {border: 1px solid #e5e5e5; clear: both;background-color:#f1f1f1;margin-left:-1px; display:none; overflow:hidden;zoom:1; position:relative;}

.gp-Models-b a { color:#444; width:123px; white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}

.gp-Models-b a.add-to,.sel-box a.add-to { background-position:-7px -345px;padding-left:8px; color:#009900;}

.gp-Models-b a.add-to { margin-left:5px; width:163px; display:inline;}

.gp-Models li.cls{ padding-right:7px; font-weight:bold; color:#DD4B39; float:left;}

.gp-Models li.car-list { float:left;width:530px; clear:none;}

.gp-Models-c a { width:165px;}

.gp-Models-c { background-color:#FEF0C8; clear:both; display:none;zoom:1}

.gp-Models-c span{clear:both}

/*sel组合下拉导航-城市 */

.gp-City ul { position:relative;zoom:1;} 

.gp-City li { float:left; width:168px;padding-left:8px;}

.gp-City li.Region-list {padding:0; background-color:#FEF0C8; clear:both;width:511px;}

.gp-City li.Region-list .R-x { width:15px;height:16px; overflow:hidden; background-position:-29px -485px; position:absolute; right:-16px;top:0; box-shadow:1px 1px 2px #F0F0F0; background-color:#FEF0C8;border-bottom: 1px solid #efdba1;border-right: 1px solid #f8e6b4;cursor:pointer;}

.gp-City li.Region-hover .R-x { background-position:-41px -485px;}

.gp-City li span { color:#009900; font-weight:bold; float:left;line-height:34px;height:32px; width:12px; text-align:center; overflow:hidden;}

.gp-City a { color:#444;width:auto;}

.gp-City .City-list { width:155px; float:left;}

.City-list span{ background-color:#fff;width:549px; position:absolute;left:0;}

.City-list em { padding:9px 8px; }

.gm-box .City-list .on-list-c em { margin:0; right:0;padding:0 7px;}






/*car-tbl&ext - title&基础list */

.chanbar {margin-bottom:10px;height:29px; position:relative; z-index:998;}

.car-tbl { clear:both;}   
	
.car-tbl dl.title {background-color: #eee;color: #444; font-weight: normal;padding: 3px 0; overflow:hidden;zoom:1;z-index:1000; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.15);border:1px solid #bebebe; width:968px; z-index:999;}

.car-mbox-on {margin-top: -25px; position: relative;}

.car-mbox-on .car-mbox { padding-bottom:5px;}

.car-mbox-long { left:155px;_left:160px;}

.car-mbox{ margin:0!important; font-size:12px; float:left;display:inline;width:460px;}

.shop-edit .car-mbox{width:580px}

.car-mbox dt,.car-mbox dd { margin-right:10px;}

.car-tbl dd.is-but,.car-tbl dd .is-but { position:relative; z-index:1;}

.car-tbl dd.car-vol,.car-tbl dd.long-vol { font-weight:normal;color:#777;position: absolute;right: 0;top:43px;}

.shop-edit .car-tbl dd.car-vol{right:10px}

.car-vol em,.long-vol em { color:#DD4B39; font-weight:bold;}

.car-tbl dt.l0, .car-tbl dd.l0 { padding: 0;width: 3%;}

.car-tbl dt.l1, .car-tbl dd.l1,.car-tbl dt.l5, .car-tbl dd.l5{ padding: 0;width:105px; margin:0 10px;display:inline;}

.car-tbl dt.l2, .car-tbl dd.l2{ width:6%; font-size:12px;}

.car-tbl dt.l3, .car-tbl dd.l3{ width:9%; margin-right:10px;display:inline;}

.car-tbl dt.l4, .car-tbl dd.l4{ margin-right:10px;display:inline; float:right; width:68px; text-align:center;}

.car-tbl dd.l1 p{ clear:both; text-align:center;}

.car-tbl dt, .car-tbl dd { float: left;}

.car-mbox dt.l2, .car-mbox dd.l2,.car-mbox dd.o2 {width:45px;}

.car-mbox dt.l3, .car-mbox dd.l3,.car-mbox dd.o3 {width:50px;}

.car-tbl dt span{ display:block;height:9px; overflow:hidden;}

.car-tbl span.m-mn{ background-position:0 -135px;width:24px;}

.car-tbl span.m-week{ background-position:-31px -560px;width:24px;}

.car-tbl span.m-glm{background-position:0 -570px;}

.car-tbl span.m-glw {background-position: -61px -560px;}

.car-tbl span.m-km{ background-position:0 -145px;width:34px;}

.car-tbl span.m-skm{ background-position:-15px -145px;width:34px;}
.car-tbl span.m-car{background-position:0 -582px; width:9px;}
.car-tbl span.m-tm{ background-position:0 -156px;width:34px;}

.car-tbl span.m-mg{ background-position:0 -166px;}

.car-tbl span.m-yu{ background-position:0 -135px;width:9px;}

.car-tbl span.m-dy{ background-position:-55px -145px;}

.car-tbl span.m-ser{ background-position:0 -560px;width:25px}

.car-tbl span.m-td{ background-position:-15px -156px;width:34px;}

.car-tbl span.m-yt{ background-position:-29px -135px;width:24px;}

.car-tbl span.m-kmt{ background-position:-59px -135px;}

.car-tbl span.m-tt{ background-position:-55px -156px;}

.car-tbl span.m-dt{ background-position:-41px -156px; width:33px;}

.car-tbl dl.info {border-bottom: 1px solid #F0F0F0;clear: both;color: #777;line-height: 21px; padding: 15px 0; position:relative;zoom:1;}

.car-tbl dl.info .is-inbut { padding-top:5px;}

.car-tbl dl.info .c-Photo {border: 1px solid #DDD;display: block; float: left;padding: 1px;width: 90px; overflow:hidden; margin-right:3px; }

.car-tbl dl.info .c-Photo img { border:none; margin:0 auto; display:block;}


.car-tbl dl.info h1, .car-tbl dl.info h2 { color: #222;display: inline;}

.car-tbl dl.info .show_detail{ position:relative;cursor:help;}

.car-tbl dl.info .show_detail span{ position:absolute; display:block; width:300px;background:#FFF;top:18px;left:0; display:none; border:1px solid #BEBEBE; padding:5px; z-index:99;color:#777; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
.show_detail{ position:relative;cursor:help;}
.show_detail span{ position:absolute; display:block; width:300px;background:#FFF;top:18px;left:0; display:none; border:1px solid #BEBEBE; padding:5px; z-index:99;color:#777; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.car-tbl .in-edit .is-bor,.car-tbl .in-edit .batch-bor,.car-tbl .no-bor { border-color:#fff;}

.car-tbl .in-edit .is-bor:hover,.car-tbl .no-bor:hover { box-shadow:none;}


/*car-tbl&ext - 扩展表格 */



.car-tbl .Ext { border: 1px solid #bebebe;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); clear: both;float: none; margin:10px auto; width:95%; background-color:#fff; position:relative; }
.car-tbl .Non { border:0;box-shadow: none;margin: 0;width:733px; overflow:hidden;}

.Ext dl.inlist .car-mbox { margin:0;}

.Ext .batch-bor .is-inp .textbox,.Ext .batch-bor .is-inp em { color:#455675;}

.is-inp em  { float:left;line-height:19px;padding-left:5px;}

.Ext dl.ext-tit { border-bottom:1px solid #E5E5E5;color: #455675;float: none;padding:28px 0 5px 5px;position:relative; height:33px;}

.Ext dl{ clear:both;line-height:25px;}

.car-city{ padding: 10px 0 0; background-color:#fff;border-botom :2px solid #8FA4CA;position:relative;border: 2px solid #444;box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);margin-left: -1px; margin-top: -1px; width: 749px; z-index: 888;}

.op .car-city{box-shadow:none;border-width: 0 0 1px; width:auto}

.Ext dl.inlist{ padding:10px 0 10px 5px; background-color:#FEF0C8;position:relative;zoom:1}

.Ext dl.in-Def { background-color:#fff;}

.inlist.in-Hid .is-b-but a { opacity:1;filter:alpha(opacity=100);}

.Ext dl.in-Hid dd.o4,.Ext dl.in-Hid .car-mbox,.inlist.in-Def.in-Hid .is-b-but a { opacity:0.5;filter:alpha(opacity=50);}

.Ext dl.in-Def .is-b-but a { background-color: #FFF; background-image: none;border:none;border-color: #FFF;color: #1155CC;}

.in-edit .btn-c{display:none;}

.car-city .btn-c{ position: absolute; bottom:32px; }

.city-Closed { background-color:#f8f8f8; box-shadow:none; border:none;border-bottom:1px solid #bebebe; margin:0; width:auto; z-index:887;}

.Ext .city-Closed dt.o4, .Ext .city-Closed  dt.o5 { color:#777;}

.city-Closed form,.city-Closed .car-mbox-on,.city-Closed .r-inbut { display:none;}

.city-Closed dl.ext-tit { border:none;}

.car-city .Open-but { display:none;}

.city-Closed .Open-but { float:right; margin-right:20px; display:block;}

.car-city dd.city-Data { display:none;}

.city-Closed dd.city-Data { display:block;}

.city-Tips { background-color: #FEF0C8; border: 1px solid #ECD698;color: #DD4B39;line-height: 18px;padding:10px 8px 3px; position: absolute;right: 150px;top: -52px; z-index: 999;}

.city-Tips em { width:16px; height:16px; overflow:hidden; background-position:right -168px; position:absolute; right:30px; bottom:-16px;}

.car-city .city-Tips { display:block ; width:120px;}

.car-city .city-Tips s.Close { position: absolute;right: 3px;top: 3px;}

.car-city .city-Tips s.Close a { display:block ;width:8px; height:8px; overflow:hidden; background-position:-50px -84px; }

.car-city .city-Tips s.Close a:hover { background-position:-57px -84px;}

.city-Closed .city-Tips { display:none;}

.Ext dd { color:#444;}

/*.Ext dd.o1 { width:2%;padding:2px 5px;clear:both;margin-top:2px;margin-right:0;}*/
.op .Ext .cbox-mr {_margin-top:5px;}

.op .Ext .cbox-mr2{margin-right:1px;}

.Ext dd.r-inbut { position:relative;z-index:100;}

.Ext dd.o2 span { display:block;line-height:18px;height:18px;background-color: #f8f8f8;border: 1px solid #ccc;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);color: #8FA4CA; position:relative; text-align:center;}

.Ext dd.o2 span s { display:block; position:absolute; width:4px; height:5px; background-position:right -81px;left:-1px;bottom:-5px; overflow:hidden;}

.Ext dd.o3 dl{ float:left; padding-right:3px;}

.Ext dd.o4,.Ext dt.o4,.Ext dd.o5,.Ext dt.o5 {width:100px;height:25px; overflow:hidden;display:block}

.Ext dd.o5,.Ext dt.o5 {width:132px;}

.Ext dt.o4,.Ext dt.o5 {font: 700 16px/25px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial;}

.Ext dd.cpl-modify{ width:90px;}

.Ext dd.Oprn .Oprn-cbox { margin:2px 5px 0 0; float:left;_padding-top:10px}

.Ext dd.Oprn a { float:left; margin-right:5px; display:inline;}

.batch-bor{  border-color: #3f6fc6 #8FA4CA #8FA4CA;}

.Ext dd.Oprn .btn_cancel a{margin:0}






/*car-tbl&ext - 扩展指针 */

.indexes { background-position: -13px -80px;display: block;height: 10px;position: absolute;width: 18px; overflow:hidden;}

.Ext .close-but { clear:both; overflow:hidden;display:inline;}

.Ext .close-but a { background-color:#f5f5f5;border-top: 1px solid #ddd;display: block;padding: 3px 0;width:100%;margin-top:-1px;}

.Ext .close-but a:hover { background-color:#FEF0C8;}

.Ext .close-but s { background-position:right -113px;width:32px;height:11px;display:block; margin:0 auto; overflow:hidden;}




/*logo,车型图片样式*/

.car-s img,.car-m img,.car-b img{ border: 1px solid #DDD;display: block;height: 60px;padding: 1px; width: 90px;}

.car-m img { widht:150px;height:100px;}

.car-b img { width:250px;height:167px;}

.cp-logo img { vertical-align:middle; max-width:175px; max-height:66px;}

.og-box .cp-logo{height:66px;width:175px; overflow:hidden;text-align: center;line-height:66px;}

/*资料输入提示组合样式*/

.choice dl {clear: both;height: 29px;padding:0 0 5px 30px;}

.choice dl.hauto{height:auto;}

.choice dl.infont { padding-bottom:15px;}

.choice dl.fontbox { height:auto; overflow:hidden;}

.choice dl.infont .inlist { border:1px solid #fff; background:none;}

.choice dl.infont .inlist s { display:none;}

.choice dl.infont .inlist em { font:12px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial;color:#1155CC;}

.choice dl.infont .inlist input{ font:14px/26px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial;color:#1155CC;}

.choice dl.textfont{ margin-top: 30px;}

.choice dl.upload {height:110px;}

.choice dl.upload dd.upinfo { width:190px}

.choice dl.title { font:700 14px/18px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial;color:#4B5C7C; overflow:hidden;} 

.choice dl.bline { border-bottom: 2px solid #8FA4CA;margin-bottom:25px;padding:0; height:21px;}

.choice dl.submit { padding-left:160px;margin-bottom:10px;}

.choice dt { font: 14px/26px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial;float:left;width:110px; text-align:right;margin-right:20px; }

.choice dd { float:left;margin-right:10px;}

.choice dd.Notes { line-height: 26px; width: 40px; color:#8FA4CA;}

.choice dd.Notes_auto { line-height: 26px; width:auto; color:#8FA4CA;}

.choice dd.copyright { color: #1155CC; font: 14px/26px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial; width: 585px;}

.choice .rent_type dd { margin-top:4px;}

.choice .rent_type_list dd { color:#1155CC; margin-left:5px;}

.choice dd.brackets { color: #1155CC;font-size: 14px;line-height: 16px; margin-right:0;}

.choice dd.sel { width:105px;}

.choice dl.order-cancel{line-height:30px}

.choice dl.order-cancel dt{ text-align:left;}

.choice dl.order-cancel dd{margin-right:20px}

.errorch i,.suc i{display:inline;width:16px;height:16px;position:relative; margin:0 3px;float:left;overflow:hidden}

.com-box .errorch,.com-box .stan,.com-box .nostan { padding:2px;}

.errorch,.stan,.nostan{ border-radius:2px; border:1px solid #ECD17F; height:18px; padding:4px 3px; background-color: #FFE79E; color: #A67C52; float:left}

.errorch span,.suc span,.stan span{display:block}

.stan{background-color:#f8faff;border:1px solid #dce1eb;color:#5d6f91;}

.nostan {background-color: #fff; color: #DD4B39;border:1px solid #e5e5e5;}

.errorch i{top:2px}

.suc {padding-top:5px ;position:static;height:16px;width:28px; }

.suc i{ background-position: 0 -16px; }

.jbox_suc{ width:30px; height:24px; background-position:0 -504px;margin:15px 5px 15px 15px; float:left}

.jbox_error{ width:30px; height:28px; background-position:0 -528px;margin: 20px 10px; float:left}

/*流程提示*/
.step-tips { color:#DD4B39;background-color: #FFFCD9; padding: 5px 10px; line-height:21px; border: 1px solid #FED664; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);margin: 0 0 10px;}




/*op-弹出窗口样式*/
.op { border: 1px solid #B4B4B4;border-radius:2px;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);background-color:#fff;position:relative;padding:8px;margin:3px;}

.op-tit { border-bottom: 2px solid #8FA4CA;color: #455675;font: 700 16px/18px 'Microsoft Yahei','u5b8bu4f53',sans-serif,Arial; margin-bottom: 15px; padding:5px 0 10px;}

.op-tit em {margin-left:5px;color: #888888;float: none;font-size: 12px;font-weight: normal;}

.op-info { overflow-y: auto; position:relative;}

.op-crbox { margin:5px 5px 8px -3px;}

.op-crbox em { float:left;}

.op-info .is-inbor { margin:-2px 2px 0;}

.op-info .txr-bor {height: 60px;margin-bottom: 10px; width:250px;}

.op-info .txr-bor textarea { height:60px;width:100%;}

.op .qcbox { width:132px;}

.op .car-tbl dl.title { width:auto; margin-bottom:3px;}

/*page分页样式*/
.page { text-align:center;margin:10px 0; position:relative} 

.page a { margin-right:3px; position:relative}

.page a span  {background-color: #F5F5F5;border: 1px solid #DCDCDC;color: #666; padding:1px 8px 2px; border-radius:2px;font:700 10px verdana;}/*button a*/

.page a:hover span,.page a span.on-page  { background-color:#FEF0C8;border: 1px solid #ccc;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.15);color: #444;}/*button a:hover*/

dd.oall{padding: 2px 5px;}

/*下拉菜单样式*/

em.emw50{width:50px;}
em.emw78{width:78px;}
.sel-car{width:150px}
.sel-car .sel-box{width:148px}
.sel-car em{width:111px;}

.msgBoxDIV{position: absolute; z-index:600; width: 100%;display:none;}
.msgBoxMask{position: absolute;z-index: 1; width: 100%; background-color:#FFF; left:0; top:0; -moz-opacity:0.8; opacity: 0.8; filter: "alpha(opacity=80)"; filter: alpha(opacity=80);zoom: 1;}
div.jbox .jbox-close, div.jbox .jbox-close-hover { top:16px !important; }

/*日期控件样式*/
.ui-widget-content,.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,.ui-widget-header,.ui-slider a,.qcity .sicon,.qdate .sicon,.timebox,.errBox span,s.cms,.screening .on-click,.all-shop s,.icon_err s, .icon_suc s{ background-image: url("/images/web-icon.png")!important;background-repeat: no-repeat;}

.prop-list dd .close, .prop-list dd .open, .fRental label.selected, .jselected label, .dbg1, .dbg2, .dbg3, .dbg4, .dbg5, .dbg6, .dbg7, .dbg8, .dbg9, .dbg10, .dbg11, .dbg12, .qdate .upTd, .qdate .downTd, .qcity .sicon, .qdate .sicon, .ftbl_list .clo li,.prop-item dl dd ul li a, .closeImg,.sys-ico, #selfdrive-error .error-img
 { background: url("/images/bg-8.png") no-repeat scroll 0 0 transparent; }

.is-bor:hover .qcity .sicon,.is-bor:hover .qdate .sicon { background-position:0 -464px !important;}

.qcbox .popContainer { position:relative; z-index:1000; clear:both; }

.qcbox .popPanel { position:absolute; z-index:1; top:1px; left:-1px; }


.qcbox .infotext {border-right: 1px solid #EAEAEA;line-height: 18px !important; _line-height: 20px !important; padding-right: 5px;}

.qcbox .popPanel {
    left: -5px;
    top: 4px;

  }
.qcbox .boxContainer {
    height: 19px !important;
    _line-height: 20px !important;
}

.qcbox .labelContainer { display:none; }

.qcbox .boxWrapper { position:relative; z-index:1; }

.qcbox .boxContainer { position:absolute; z-index:1; top:0px; right:0px; padding-right:3px;height:18px; background-color:#fff; cursor:pointer; overflow:hidden; }

.qcbox .sinfo { float:left; display:inline; padding:0; font:normal 14px/16px simsun, arial, sans-serif; _line-height:18px; }

.qcbox .infotext { color:#ccc; }

.sicon { float:left; display:inline;background-position:0 -445px !important;height: 4px; margin-left: 6px; margin-top:7px;width: 8px;overflow:hidden;}

.qtime .sicon{margin:7px 6px 0;}

.popPanel .dpanel,.popPanel .cityinput {  border:1px solid #d5d5d5; background-color:#fff; box-shadow:1px 1px 2px #e5e5e5;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#e5e5e5')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#e5e5e5');

	}
	
.qcbox .errtext { color:red !important; }
	
.qcbox .ill { width:185px;   border:1px solid #d5d5d5; background-color:#fff; box-shadow:1px 1px 2px #e5e5e5;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#e5e5e5')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#e5e5e5');}

.qcbox .illrow { line-height: 22px; }

.qcbox .illrow td { padding:0 0 0 4px !important; overflow:hidden; cursor: pointer; white-space:nowrap; }

.qcbox td.illn { line-height: 24px; font-size:13px; padding-left:8px; text-align:left; font-family:simsun; padding-left:4px; }

.qcbox .illt { color: green; line-height: 24px; font-size:11px; padding-right:4px; text-align:right; font-family:arial, sans-serif, SimSun; }

.qcbox .tllover td { color: white; background-color:#4778da; }

.qcbox .keystring { color:#f60; }

.qcbox .error td { font-size:13px; background-color:#c30; color:#fff; }
	
.qcbox { float:left; display:inline; width:140px; }

.qcbox .boxContainer { height:15px; }

.qtime .boxContainer {border-left: 1px solid #EAEAEA; padding:0 0 0 3px }

.qcbox .sinfo { font:normal 12px/16px simsun, arial, sans-serif; _line-height:18px; }

.sel-city:hover .qcity .sicon,.sel-city:hover .qdate .sicon { background-position:0 -287px !important;}

.qcbox .infotext { border-right: 1px solid #EAEAEA; line-height: 18px !important; _line-height: 20px !important; padding-right: 5px;}

.qtime .infotext { display:none;}

/*价格模板*/
.sel-model{zoom:1;}
.sel-model .sel-box2 {right:0;position: absolute;zoom:1;
    z-index: 2; background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.sel-model .sel-box2 a {padding:0 9px; white-space:nowrap;color: #1155CC;width:auto;
    display: block;
    height: 30px;
    line-height: 30px;
    z-index: 9999;position: relative;text-align:right}
.sel-model .sel-box2 a:hover { background-color:#f1f1f1;}


.dbg1 { background-position:45px -665px; }

.dbg2 { background-position:45px -772px; }

.dbg3 { background-position:45px -882px; }

.dbg4 { background-position:45px -995px; }

.dbg5 { background-position:45px -1104px; }

.dbg6 { background-position:45px -1216px; }

.dbg7 { background-position:45px -1325px; }

.dbg8 { background-position:45px -1431px; }

.dbg9 { background-position:45px -1542px; }

.dbg10 { background-position:35px -1652px; }

.dbg11 { background-position:35px -1762px; }

.dbg12 { background-position:35px -1872px; }

.qdate .dpanel { width:340px; *zoom:1;}

.qdate .dpanel:after { clear:both; display:block; height:0; visibility:hidden; content:"\20"; }

.qdate .dpart { position:relative; z-index:1; float:left; display:inline; margin-bottom:3px;margin-top:3px;margin-left:-1px; border-left:1px dotted #e5e5e5; width:170px; color:#000; overflow:hidden; }

.qdate .dpart h3 { height:24px; font:normal 12px/24px tahoma, arial, sans-serif; text-align:center; background-color:#fff; color:#0D68C1; }

.qdate .dpart table { margin:0 1px 1px 1px; padding:0; border:0 none; border-collapse:collapse; width:168px; }

.qdate .dpart td { margin:0; padding:0 !important; width:24px; height:18px; font:normal 12px/18px tahoma, arial, sans-serif; text-align:center; vertical-align:middle; }

.qdate .dpart .thead td { border-bottom:1px solid #e5e5e5; height:21px; line-height:21px;background-color:#fff; }

.qdate .upTd { position:absolute; top:0; left:0; width:24px; height:24px; cursor:pointer; background-position:-45px -2022px; }

.qdate .downTd { position:absolute; top:0; right:0; width:24px; height:24px; cursor:pointer; background-position:-62px -2022px; }

.qdate .cnone { color:#999; cursor:default; }

.qdate .holi { color:#c60b02; }

.qdate .today { color:#00f; }

.qdate .curr { background-color:#fdab00; color:#fff; }

.qdate .othr { background-color:#6899ff; color:#fff; }

.qdate .onmouseover { background-color:#fdab00; color:#fff; cursor:pointer; }

.qdate .out { background-color:transparent; color:#999; cursor:not-allowed; }

.is-bod{ background-color: #fff; display: block; height: 18px; padding: 4px; }

.is-bod dd{ margin-right: 10px; }

/*.qdate { width:165px; }*/

.z-index2{z-index:2}

/*时间控件样式*/
.ui-timepicker {background-color:#fff;border:1px solid #d5d5d5;font-size:11px;
	}

.ui-timepicker div {   
    border-bottom: 1px solid #E5E5E5;
    color: #0D68C1;
    font-size: 12px;
    text-align:center;
    padding-bottom:3px;
    margin:0 8px;
}

.ui-timepicker .minute-part {border-left: 1px dotted #e5e5e5;padding-left: 8px;}


.ui-timepicker .ui-widget-content {
    color: #666666;
    font-size:11px;
}
.ui-timepicker table td a {
    cursor: pointer;
    display: block;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    width: 17px !important;
}
.ui-timepicker table td a:hover {
    background-color:#f0f0f0;
    color:#333!important;
}
.ui-timepicker table td a.current {
    background-color:#6899FF;
    font-weight:bold;
    color:#fff !important;
}

.ui-timepicker td {
    padding: 0px;
}
.ui-timepicker-hours{ padding-right:10px !important; }
.ui-timepicker .periods{ display:none; }
.ui-timepicker-cover{ display:none; }
.timebox {
	background-position: 36px -91px;
    border: 0 none;
    font-size: 12px;
    height: 16px;
    margin-right: 5px;
    margin-top: 18px;
    width: 47px;
    cursor:pointer;
    color:#666;
    _line-height:16px;
    outline:0;
	font-size:11px;
	}
.shadow-g {
	box-shadow: 1px 1px 2px #E5E5E5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#e5e5e5')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#e5e5e5');
}

/*上传图片按钮样式*/

.loadbutton{background:url(../images/upload_btn.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 28px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 90px;
	top:8px;
	}
	
.upload_input_file{font-size: 36px;
    opacity: 0;
    position: absolute;
    right: -2px;
    top: -2px;
	cursor:pointer; filter:alpha(opacity:0)}
	
.load_car{background-position:0 -56px}
.load_photo{background-position:0 -28px}
.load_banner{top:0;background-position: 0 -84px;}
.load_banner_new{top:0;background-position: 0 -112px;}
.mod-loading{ margin:5px 0 5px 6px;}


/*文字+号样式*/
.zzc-selector-flag-msg{ background-position:-7px -345px; padding:3px 0  0 10px;}

/*车型添加成功页面*/
.tips_info .og-step-chan2 .sel-box{
	background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    left:168px;
    position: absolute;
    top:27px;
    z-index: 2; font-size:12px;}
	
.tips_info .og-step-chan2{padding:40px 0 0 260px}

.tips_info .og-step-chan2 .span_car{ padding:10px;display: block;}

.og-step-chan2 .sel-box a{color: #1155CC;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding:0 9px;
    z-index: 9999;}
	
.og-step-chan2 .sel-box a:hover{ background-color:#f1f1f1}
.zzc-selector-flag-msg{ background-position:-7px -345px; padding:3px 0  0 10px;}
.car-city .choose_city, .car-city .choose_shop{ height:25px; vertical-align:middle;}


/*常见问题*/
.m-faq{
	padding:80px 10px 40px;
    overflow: hidden;
	width:98%
    }
.m-faq h1{background: none repeat scroll 0 0 #FDFFFE;
     border:1px solid #D2E1F1 ;
	 border-left:none;
	 border-right:none;
    color: #4B5C7C;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.m-faq p{line-height: 24px;
   color:#777777; }
.faq-con h2{color: #4B5C7C;
    font-size: 12px;
    font-weight: 700;
    margin: 15px 0 5px;
}

.m-faq a {
    display: block;
    overflow: hidden;
    white-space: nowrap; font-size:12px;
}
.m-faq .faq-con{padding:0 10px}
.m-faq  a.more-help{ padding:20px 0 10px;}

/*客户取消订单*/
.input-inline{display: inline-block;margin: -2px 2px 0;vertical-align: middle;*display:inline;zoom:1}
.order-cancel .radio-on .radio, .order-cancel .radio-hidden .radio{ margin-top:10px; }
.order-cancel .radio-on, .order-cancel .radio-hidden{padding-right:0}
.order-cancel .order-em{display:block; height:30px;padding-left: 15px;}

/*长的提示语句*/
.msg-long .stan,.msg-long .errorch{width:280px; height:40px}

/*左边提示框*/
.explain{
border: 1px solid #D2E1F1;
overflow: hidden;
border-top: 2px solid #8FA4CA; margin-bottom:15px;}

.explain .tit{background:#f7f9fb;
    color: #4B5C7C;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding-left: 10px; margin-bottom: 5px;}
.explain .e-text{
    line-height: 22px;
    padding: 0 10px 10px;}
.explain .e-text p{ margin-bottom:5px;}	
/*生成代码页面*/
.ad-box .lbox{width:250px;}
.ad-box .rbox{width:720px;}
.codebox select{width:225px;margin: 5px 0;}
.mb15{margin-bottom:15px;}

.see-area{ background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E8E8E8;
    padding:5px 10px 10px;}
.s-title{border-bottom: 1px solid #EEEEEE;
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;}
.show-here{text-align:center;}

.img-box{margin-top:10px;text-align: center; }

.img-box a:hover{background:#f8f8f8;}

.img-box a{ padding:10px 0; display:block;}

/*错误正解提示*/
.icon_err s, .icon_suc s {
    background-position: 0 -48px;
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
	_margin-top:0;
}

.icon_suc s{background-position:0 -16px;margin-top:5px;}
.icon_err{ color:#DD4B39;_margin-top:5px; height:28px;}
.icon_suc,.icon_err{line-height:28px;}
.tip-msg{line-height:28px; color:#aaa!important;}
/*dd文字样式*/
.dd-txt{line-height:29px;color:#222;}

/*单选框组合样式*/
.cbox-g{padding-right:8px;}
.cbox-g .is-cbox{ margin-right:2px; height:13px; width:13px; overflow:hidden;vertical-align: middle;}

.cbox{height:13px; width:13px;overflow:hidden;}

/*用户主页*/
.user-tab tr td{padding:5px 5px 0;}

.fn-clear {
	*zoom:1}

.fn-clear:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.fn-left {
	float: left;
	display: inline
}

.fn-right {
	float: right;
	display: inline
}