<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xintai.changshun.dao.CountryMapper">
  <resultMap id="BaseResultMap" type="com.xintai.changshun.bean.Country">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="is_delete" jdbcType="VARCHAR" property="is_delete" />
    <result column="created_user" jdbcType="INTEGER" property="created_user" />
    <result column="created_time" jdbcType="TIMESTAMP" property="created_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, country, is_delete, created_user, created_time
  </sql>
  <select id="selectByExample" parameterType="com.xintai.changshun.bean.CountryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cs_country
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cs_country
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cs_country
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xintai.changshun.bean.CountryExample">
    delete from cs_country
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xintai.changshun.bean.Country">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into cs_country (country, is_delete, created_user, 
      created_time)
    values (#{country,jdbcType=VARCHAR}, #{is_delete,jdbcType=VARCHAR}, #{created_user,jdbcType=INTEGER}, 
      #{created_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xintai.changshun.bean.Country">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into cs_country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="country != null">
        country,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="created_user != null">
        created_user,
      </if>
      <if test="created_time != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=VARCHAR},
      </if>
      <if test="created_user != null">
        #{created_user,jdbcType=INTEGER},
      </if>
      <if test="created_time != null">
        #{created_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xintai.changshun.bean.CountryExample" resultType="java.lang.Long">
    select count(*) from cs_country
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cs_country
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.is_delete != null">
        is_delete = #{record.is_delete,jdbcType=VARCHAR},
      </if>
      <if test="record.created_user != null">
        created_user = #{record.created_user,jdbcType=INTEGER},
      </if>
      <if test="record.created_time != null">
        created_time = #{record.created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cs_country
    set id = #{record.id,jdbcType=INTEGER},
      country = #{record.country,jdbcType=VARCHAR},
      is_delete = #{record.is_delete,jdbcType=VARCHAR},
      created_user = #{record.created_user,jdbcType=INTEGER},
      created_time = #{record.created_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xintai.changshun.bean.Country">
    update cs_country
    <set>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=VARCHAR},
      </if>
      <if test="created_user != null">
        created_user = #{created_user,jdbcType=INTEGER},
      </if>
      <if test="created_time != null">
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xintai.changshun.bean.Country">
    update cs_country
    set country = #{country,jdbcType=VARCHAR},
      is_delete = #{is_delete,jdbcType=VARCHAR},
      created_user = #{created_user,jdbcType=INTEGER},
      created_time = #{created_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>